<div *ngIf="alumnos.length > 0; else sinAlumnos">
    <p>Ya no hay alumnos para asignar!</p>
</div>
<ng-template #sinAlumnos>
    <div class="container color-light">
            <div class="col">
                <p class="sm">Seleccione un alumno para asignarle un grupo</p>
                <select [(ngModel)]="SelectedAlumno.grupo" (change)="seleccionGrupo()" name="id">
                    <option *ngFor="let tipo of tipos_grupos">{{ tipo }}</option>
                </select>
                <ng-container *ngIf="grupoState; else noGrupo">
                    <div *ngFor="let alumno of alumnos">
                        <li *ngIf="alumno.grupo == grupoActual">{{ alumno.apellidos }}, {{ alumno.nombres }}</li>
                    </div>
                </ng-container>
                <ng-template #noGrupo>
                    <div *ngFor="let alumno of alumnos">
                        <li *ngIf="alumno.grupo == null">{{ alumno.apellidos }}, {{ alumno.nombres }}
                            <span class="material-icons" *ngIf="!editState" (click)="editar(alumno)">edit</span>
                            <span class="material-icons" *ngIf="editState" (click)="clearState()">edit</span>
                            <div *ngIf="editState && alumnoEditar.id == alumno.id">
                                <form (ngSubmit)="editarAlumno(SelectedAlumno.grupo, alumno)">
                                    <select [(ngModel)]="SelectedAlumno.grupo" name="id">
                                        <option *ngFor="let tipo of tipos_grupos" value="{{ tipo }}">{{ tipo }}</option>
                                    </select>
                                    <input type="submit" class="btn amarillo r mx" value="Editar">
                                </form>
                            </div>
                        </li>
                    </div>
                </ng-template>
            </div>
    </div>

</ng-template>
<div *ngIf="errorState">
    <p>{{ errorMessage }}</p>
</div>

<!-- <div *ngIf="grupos?.length > 0; else noGrupos">
    <div *ngFor="let alumno of alumnos">
        <div *ngFor="let grupo of grupos">
            <p *ngIf="(alumno.id != grupo.idAlumno) && idalumno == alumno.id; else noSeleccionado" (click)="Seleccion(alumno.id)">
                <strong>
                    -- {{ alumno.nombres}}
                </strong>
            </p>
            <ng-template #noSeleccionado>
                <p *ngIf="alumno.id != grupo.idAlumno;" (click)="Seleccion(alumno.id)">
                    {{ alumno.nombres}}
                </p>
            </ng-template>
        </div>
    </div>
</div>
<ng-template #noGrupos>
    <p *ngFor="let alumno of alumnos">
        {{ alumno.nombres}}
    </p>
</ng-template> -->

<!-- iteracion de muchos combobox con un solo nombre en c/u
    
    <div *ngFor="let grupo of grupos">
        <div *ngFor="let alumno of alumnos" >
            <div *ngIf="alumno.id != grupo.idAlumno">
                <select [(ngModel)]="SelectedAlumno.id" name="id">
                    <option value="{{alumno.id}}">
                        {{ alumno.nombres }}
                    </option>
                </select>
            </div>
        </div>
    </div>
-->

<!-- iteracion de un select con todos los nombres en un combo box

<select [(ngModel)]="SelectedAlumno.id" name="id">
    <option value="{{alumno.id}}" *ngFor="let alumno of alumnos">
        {{ alumno.nombres }}
    </option>
</select>
-->