.container {
  display: grid;
  margin: 0 auto;
  width: 60%;
}

.col {
  padding: 0.4em 1.3em;
}
.color-dark {
  background: #2885c4;
}

.color-light {
  background: #57b3f1;
}
input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.btn {
  padding: 0.25em 4em;
  cursor:pointer;
}

.rojo {
  background: #ff5656;
}

.amarillo {
  background: #fff27c;
}

.r {
  float: right;
}

.mx {
  margin-left: 10px;
  margin-right: 10px;
}

li {
  list-style: none;
}

.my {
  margin-top: 5px;
  margin-bottom: 5px;
}
select {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 1em;
}
span.material-icons{
  cursor:pointer;
}