<div class="container color-light">
    <form (ngSubmit)="onSubmit()" >
        <div class="ladoizquierdo">
        <div class="col">
            <p class="sm" id="titulo">Ingrese los datos para confirmar la nota</p>
            <p class="sm">Evaluacion:</p>
            <p>
                <select name="evaluacion1" class="txt" [(ngModel)]="Selectednota.evaluacion">
                    <option>Final Test</option>
                    <option>Oral Evaluation</option>
                    <option>Class Activity</option>
                    <option>Final Test</option>
                </select>
            </p>
        </div>
        <div class="col">
            <p class="sm">Grupo:</p>
                <p>
                <select name="grupo1" class="txt" [(ngModel)]="SelectedGrupo.grupo">
                    <option *ngFor="let grupo of grupos" >{{ grupo.grupo }}</option>
                </select>
                </p>
            </div>
        </div>
        <div class="ladoderecho">
            <div class="col">
                <p class="sm">alumnos:</p>
                <p>
                    <select name="alumno1" class="txt" [(ngModel)]="SelectedAlumno.nombres">
                        <strong *ngFor="let grupo of grupos">
                            <ng-container *ngFor="let alumno of alumnos">
                                <ng-container *ngIf="grupo.idAlumno === alumno.id">
                                    <option>{{ alumno.nombres }}</option>
                                </ng-container>
                            </ng-container>
                        </strong>    
                    </select>
                </p>
            </div>
            <div class="col">
                <p class="sm">Nota:</p>
                <input type="number" class="txt" name="nota1" placeholder="Ej. 8" [(ngModel)]="Selectednota.nota" >    
            </div>
            </div>
        <div class="col">
            <input type="submit" class="btn" value="Ingresar">
        </div>
    </form>
</div>