<div *ngIf="esAdmin()">
    <mat-accordion class="container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    New teacher
                </mat-panel-title>
                <mat-panel-description>
                    Register new teacher
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-register></app-register>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    End module
                </mat-panel-title>
                <mat-panel-description>
                    Set end of the module
                </mat-panel-description>
            </mat-expansion-panel-header>
            tas seguro?
            <button type="submit" mat-raised-button color="primary">Posi wey</button>
            <button type="submit" mat-raised-button color="">Posno wey</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>