<div *ngIf="esAdmin()">
    <mat-accordion class="container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    New teacher
                </mat-panel-title>
                <mat-panel-description>
                    Register new teacher
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-register></app-register>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    End module
                </mat-panel-title>
                <mat-panel-description>
                    Set end of the module
                </mat-panel-description>
            </mat-expansion-panel-header>
            Are you completly sure to end the module? <strong style="color: red;">You cant undo this.</strong>
            <button type="submit" mat-raised-button color="primary" class="mx">Yes, Im sure.</button>
            <button type="submit" mat-raised-button class="mx">Nope, ignore me.</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>