<ul *ngIf="_data.userData | async; else showLogin">
    <li *ngIf="_data.userData | async"><a routerLink="">Alumnos</a></li>
    <li *ngIf="_data.userData | async"><a routerLink="admingrupos">Administración de grupos</a></li>
    <li *ngIf="_data.userData | async"><a routerLink="notas">Ingreso de notas</a></li>
    <li *ngIf="_data.userData | async"><a routerLink="asistencia">Asistencia</a></li>
    <li><a routerLink="" (click)="onLogout()">log out</a></li>
</ul>
<ng-template #showLogin>
    <app-login></app-login>
</ng-template>
<router-outlet *ngIf="_data.userData | async" ></router-outlet>