<ul *ngIf="user; else showLogin">
    <li *ngIf="user"><a routerLink="">Alumnos</a></li>
    <li *ngIf="user"><a routerLink="admingrupos">Administración de grupos</a></li>
    <li *ngIf="user"><a routerLink="notas">Ingreso de notas</a></li>
    <li *ngIf="user"><a routerLink="asistencia">Asistencia</a></li>
    <li *ngIf="esAdmin()"><a routerLink="admin">Admin</a></li>
    <li><a routerLink="" (click)="onLogout()">log out</a></li>
</ul>
<ng-template #showLogin>
    <app-login></app-login>
</ng-template>



<router-outlet *ngIf="user" ></router-outlet>