<mat-card>
    <div *ngIf="errorData">
        <p color="primary">{{ errorData.message }}</p>
    </div>
    <mat-card-title> Register new teacher </mat-card-title>
    <form #userRegForm="ngForm" (ngSubmit)="register(userRegForm)">
        <mat-card-content>
            <p>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput ngModel #firstname placeholder="First name" name="fname" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput ngModel #lastname placeholder="Last Name" name="lname" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput ngModel #email placeholder="Email" name="email" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" ngModel #password placeholder="Password" name="password" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Group</mat-label>
                    <mat-select ngModel #grupo name="grupo" required>
                        <mat-option *ngFor="let tipo of tipos_grupos" value="{{ tipo }}">{{ tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Registrar</button>
        </mat-card-actions>
    </form>
</mat-card>