:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.mat-form-field{
    width: 100%;
    min-width: 100px;
}
mat-card-title,
mat-card-content{
    display: flex;
    justify-content: center;
}

button{
    width: 60%;
}

.mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}